<div class="scene">
  <a routerLink="/"><button>Home</button></a>
  <div class="row header-row">
    <a routerLink="/avoid-the-box"><button><</button></a>
    <h3>Version 3</h3>
    <a routerLink="/avoid-the-box/v2"><button>></button></a>
  </div>
  <video #sceneVideo id="sceneVideo" width="720" height="405" autoplay></video>
  <canvas #sceneCanvas id="sceneCanvas" width="720" height="405"></canvas>
  <div><button (click)="toggleMovement()">Toggle</button></div>
  <h5>
    Updated visuals to much more closely match the source material.
    <br>
    Image in display stage is centered and zoomed to fill frame.
  </h5>
</div>
