<div class="scene">
  <a routerLink="/"><button>Home</button></a>
  <div class="row header-row">
    <a routerLink="/avoid-the-box/v2"><button><</button></a>
    <h3>Version 1</h3>
    <a><button disabled>></button></a>
  </div>
  <video #sceneVideo id="sceneVideo" width="720" height="405" autoplay></video>
  <canvas #sceneCanvas id="sceneCanvas" width="720" height="405"></canvas>
  <div><button (click)="toggleMovement()">Toggle</button></div>
  <h5>
    The square moves, but not quite right.
    <br>
    No stages, just continuous movement.
  </h5>
</div>
